.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.pbIcon {
    width: 30px;
    height: 30px; /* height não está mudando o tamanho do icon oficialmente, mas sem o height, o icon estava ocupando um lugar muito grande na página verticalmente */
}

.logoText {
    font-family: WorkSansSemiBold;
    color: white;
    font-size: 20px;
}