.botao{
    height: 46px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    color: white;
    border-color: transparent;
    border-radius: 0px;
    transition: border-color 0.3s;
}

.botao:hover {
    border-color: #646cff;
}