.button {
    color: white;
    background-color: #A259FF;
    width: 152px;
    height: 60px;
    font-size: 16px;
    font-family:'Work Sans', sans-serif;
    font-weight:550;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.25s background-color;
}

.button:hover {
    background-color: #8528ff;
}

.textoBotao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}